@font-face {
    font-family: UniversLTStd-Light;
    src: url(../fonts/UniversLTStd-Light.otf);
}
@font-face {
    font-family: Rasmus-Bold;
    src: url(../fonts/Rasmus-Bold.otf);
}
@font-face {
    font-family: Rasmus-Regular;
    src: url(../fonts/Rasmus-Regular.otf);
}
body {
  font-family: UniversLTStd-Light !important;

      -webkit-animation: fadein 1s;
         -moz-animation: fadein 1s;
          -ms-animation: fadein 1s;
           -o-animation: fadein 1s;
              animation: fadein 1s;
}
.main-wrapper {
  /*height: 100vh;*/
  overflow:hidden;
}
.site-title {
  cursor: pointer;
}
.scrollable {
  padding-top: 25px;
  position: fixed;
  overflow-y: scroll;
  max-height: 100vh;
}
.scrollable > h1 {
  font-family: Rasmus-Regular !important;
}
h1 {
    font-family: Rasmus-Regular !important;
}

.scrollable > ul {
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: Rasmus-Bold !important;
  font-size: 0.8em;
}
.bartlebys {
  height: 100vh;
  border-left: 1px solid black;

}
.about-section {
  text-align: justify;
}
.about-section > h4 {
  margin-bottom: 15px;
  font-family: Rasmus-Regular !important;
}
span.bartleby-word {
  font-family: Rasmus-Bold !important;

}
p {
  margin-bottom: 15px;
  font-size: 0.9em;
  line-height: 18px;
}
a.nav-link{
  /*color: black;*/
}
a.nav-link:hover {
  /*color: black;*/
  text-decoration: underline;
}
img.review {
  max-height: 100px
  position: absolute;
  opacity: 0;
}


.books-page {
  padding-top: 25px;
}
h1.site-title > a {
  color: black;
  text-decoration: none;
}
.books-page > h1 {
  margin-bottom: 25px;
}
img.books {
  max-height: 250px;
}

.anthology > p {
  margin: 30px;
  font-size: 0.9em;
  line-height: 18px;
}



@media screen and (max-width: 766px) {
  .main-wrapper {
    /*height: 100vh;*/
    overflow: visible;
  }
  .scrollable {
    padding-top: 25px;
    position: fixed;
    overflow-y: scroll;
    max-height: 100vh;
  }

  .scrollable > ul {
    font-size: 0.9em;
  }
  .bartlebys {
    /*height: inherit;*/
    border-left: none;
  }
  .about-section > p {
    margin-bottom: 15px;
    font-size: 1.0em;
    line-height: 22px;
    margin: 0 15px 15px 15px;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
